<h1>login</h1>
<form ng-submit="LoginCtrl.login()">
  <div class="row">
    <div class="small-12 columns">
      <input ng-model="LoginCtrl.user.username" type="text" name="username" placeholder="username">
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <input ng-model="LoginCtrl.user.password" type="password" name="password" placeholder="password">
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 large-4 small-centered columns">
      <button class="button expand">Default Button</button>
    </div>
  </div>
</form>
