body {
  height: auto;
}

.flex-layout-wrapper {
  @include display(flex);
  @include flex(1 0 auto);
  @media #{$small-only} {
    @include flex-direction(column);
  }

  min-height: 100vh;

  .tab-bar a{
    background-color: $off-canvas-bg;
  }
}

.flex-layout-content {
  @include flex(1);
}

.flex-layout-nav {
  @include flex(0 0 $off-canvas-width);
  @include order(-1);
  background-color: $off-canvas-bg;
}
